# Dependencies
**/node_modules

# Build output
**/dist
**/.next
**/out

# Git
.git
.gitignore

# IDE
.vscode
.idea

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment
**/.env
**/.env.*

# OS
.DS_Store
Thumbs.db